{% extends 'base.html' %}
{% load static %}
{% load fontawesome_5 %}
{% fontawesome_5_static %}
{% block content %}
<div class="row">
        <div class="col col-12 text-primary"><h3>รายวิชาที่ลงทะเบียน</h3></div>
        <div class="col-6">
            <h6>
                ระดับการศึกษา : <br>
                รหัสนักศึกษา :  <br>
                ชื่อนักศึกษา : <br>
                สถานะภาพ : <br>
                อาจารย์ที่ปรึกษา : <br>
                </b>
            </h6>
        </div>
        <div class="col-6">
            <h6>
                คณะ :  <br>
                โปรแกรมวิชา : <br>
                สาขาวิชา : <br>
                ประเภทเวลาเรียน : <br>
                อาจารย์ที่ปรึกษา : <br>
                </b>
            </h6>
        </div>
    </div>
</div>

    <table class="table table-bordered">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">รหัสวิชา</th>
        <th scope="col">ชื่อวิชา</th>
        <th scope="col">หน่วยกิต</th>
        <th scope="col">กลุ่มเรียน</th>
        <th scope="col">อาจารย์ผู้สอน</th>
    </tr>
  </thead>
  <tbody>
    <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
        <td>
            <button class="btn btn-sm  btn-success disabled text-center">{% fa5_icon 'plus' %} เพิ่ม</button>
        </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
        <td>
            <button class="btn btn-sm  btn-success disabled text-center"> {% fa5_icon 'plus' %}เพิ่ม</button>
        </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
          <td>@mdo</td>
        <td>
            <button class="btn btn-sm  btn-success disabled text-center"> {% fa5_icon 'plus' %}เพิ่ม </button>
        </td>
    </tr>
  </tbody>
</table>
{% endblock %}