<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base.html</title>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet " href="{% static 'styleSheet/bt523/css/bootstrap.css' %}">
    <script src="{% static 'styleSheet/bt523/js/bootstrap.bundle.js'%}"></script>
</head>

<body>
    <style type="text/css">
        body{
            font-family: 'Kanit', sans-serif;
        }
    </style>

    <div class="container-fluid">
        <div class="row bg-white" >
                <h1>Header</h1>
        </div>

        <div class="row">
                <br>
                <h1>Navbar</h1>
            </div>

        <div class="row">
            {% block content %}

            {%  endblock %}
        </div>
    </div>

</body>
</html>