<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>base.html</title>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet " href="{% static 'stylesheet/bt523/css/bootstrap.css' %}">
    <script src="{% static 'stylesheet/bt523/js/bootstrap.bundle.js'%}"></script>
</head>

<body>
    <style type="text/css">
        body{
            font-family: 'Kanit', sans-serif;
        }
    </style>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center" style="background-color: #75E18E">
                {% include 'header.html' %}
            </div>
        </div>

        <div class="row">
                <br>
                <h1 class="text-center text-dark">Navbar</h1>
            </div>

        <div class="row">
            {% block content %}

            {%  endblock %}
        </div>

     <div class="row">
          <br>
         <h1 class="text-center text-danger">FOOTTER</h1>
        </div>
    </div>

</body>
</html>