{% extends 'base.html' %}
{% block content %}
<br><br>
<div class="row" style="padding-left: 200px">
    <form action="/action_page.php">
        {% csrf_token %}
  <div class="container">
    <h1>ลงทะเบียนรายวิชา</h1>
    <p>รายละเอียดลงทะเบียน</p>
    <hr>
    <div class="row">
        <div class="col-6">
            <label><b>เลขที่</b></label>
            <label>xxxxx</label>
            <label><b>วันที่ยืนยัน</b></label>
            <label>xx/xx/25xx</label><br>
            <label><b>ระดับการศึกษา</b></label>
            <label>xxxxx</label><br>
            <label><b>รหัสนักศึกษา</b></label>
            <label>xxxxxxxxxxx-x</label><br>
            <label><b>ชื่อนักศึกษา</b></label>
            <label>xxxxx xxxx</label><br>
            <label><b>สถานภาพ</b></label>
            <label>xxxxx</label><br>
            <label><b>อาจารย์ที่ปรึกษา</b></label>
            <label>xxxxx xxxx</label>
        </div>

        <div class="col-6">
            <label><b>สถานะ</b></label>
            <label>xxxx</label><br>
            <label><b>คณะ</b></label>
            <label>xxxx</label><br>
            <label><b>โปรแกรมวิชา</b></label>
            <label>xxxx</label><br>
            <label><b>สาขาวิชา</b></label>
            <label>xxxx</label><br>
            <label><b>ประเภทเวลา</b></label>
            <label>xxxx</label>
        </div>

    <hr>
    <p>รายวิชาที่ลงทะเบียน</p>
    </div>
      <div class="table-responsive">
          <table class="table table-bordered table-hover text-center rounded-3">
              <thead>
                <tr style="background-color: #0d6efd">
                  <th><input type="checkbox"></th>
                  <th>ลำดับ</th>
                  <th>รหัสวิชา</th>
                  <th>ชื่อวิชา</th>
                  <th>หน่วยกิต</th>
                  <th>ประเภทวิชา</th>
                  <th>ลักษณะลงทะเบียน</th>
                  <th>บันทึกเกรด</th>
                  <th>กลุ่มเรียน</th>
                  <th>ผู้สอน</th>
                </tr>
              </thead>
          </table>
      </div>

      <div class="row">
          <div class="col-3">
            <button type="button" class="btn btn-danger">ยกเลิก</button>
          </div>
          <div class="col-5 text-center">
            <button type="button" class="btn btn-primary" data-bs-toggle="offcanvas" data-bs-target="#demo">เลือกรายวิชา</button>
          </div>
      </div>
      <div class="offcanvas offcanvas-top" id="demo" style="height: 500px">
          <div class="offcanvas-header">
            <h1 class="offcanvas-title">ค้นหารายวิชา</h1>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
          </div>
          <div class="offcanvas-body">
              <table class="table table-bordered table-hover text-center rounded-3">
                      <thead>
                        <tr style="background-color: #0d6efd">
                          <th>เลือก</th>
                          <th>ลำดับ</th>
                          <th>รหัสวิชา</th>
                          <th>ชื่อวิชา</th>
                          <th>หน่วยกิต</th>
                          <th>ประเภทวิชา</th>
                          <th>ลักษณะลงทะเบียน</th>
                          <th>บันทึกเกรด</th>
                          <th>กลุ่มเรียน</th>
                          <th>ผู้สอน</th>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>265-4</td>
                            <td>Program</td>
                            <td>2</td>
                            <td>ปกติ</td>
                            <td>ทั่วไป</td>
                            <td>#</td>
                            <td>#</td>
                            <td>BIS3R1</td>
                            <td>พ่อใหญ่พิช</td>
                        </tr>
                      <tr>
                            <td><input type="checkbox"></td>
                            <td>265-4</td>
                            <td>Program</td>
                            <td>2</td>
                            <td>ปกติ</td>
                            <td>ทั่วไป</td>
                            <td>#</td>
                            <td>#</td>
                            <td>BIS3R1</td>
                            <td>พ่อใหญ่พิช</td>
                        </tr>
                      <tr>
                            <td><input type="checkbox"></td>
                            <td>265-4</td>
                            <td>Program</td>
                            <td>2</td>
                            <td>ปกติ</td>
                            <td>ทั่วไป</td>
                            <td>#</td>
                            <td>#</td>
                            <td>BIS3R1</td>
                            <td>พ่อใหญ่พิช</td>
                        </tr>
                      <tr>
                            <td><input type="checkbox"></td>
                            <td>265-4</td>
                            <td>Program</td>
                            <td>2</td>
                            <td>ปกติ</td>
                            <td>ทั่วไป</td>
                            <td>#</td>
                            <td>#</td>
                            <td>BIS3R1</td>
                            <td>พ่อใหญ่พิช</td>
                        </tr>
                      <tr>
                            <td><input type="checkbox"></td>
                            <td>265-4</td>
                            <td>Program</td>
                            <td>2</td>
                            <td>ปกติ</td>
                            <td>ทั่วไป</td>
                            <td>#</td>
                            <td>#</td>
                            <td>BIS3R1</td>
                            <td>พ่อใหญ่พิช</td>
                        </tr>
                      <tr>
                            <td><input type="checkbox"></td>
                            <td>265-4</td>
                            <td>Program</td>
                            <td>2</td>
                            <td>ปกติ</td>
                            <td>ทั่วไป</td>
                            <td>#</td>
                            <td>#</td>
                            <td>BIS3R1</td>
                            <td>พ่อใหญ่พิช</td>
                        </tr>
                      <tr>
                            <td><input type="checkbox"></td>
                            <td>265-4</td>
                            <td>Program</td>
                            <td>2</td>
                            <td>ปกติ</td>
                            <td>ทั่วไป</td>
                            <td>#</td>
                            <td>#</td>
                            <td>BIS3R1</td>
                            <td>พ่อใหญ่พิช</td>
                        </tr>
                      </thead>
                  </table>
            <center><button class="btn btn-primary" type="button">ตกลง</button> <button class="btn btn-danger" type="button" class="btn-close" data-bs-dismiss="offcanvas">ยกเลิก</button></center>
          </div>
      </div>

  </div>
</form>
</div>
{% endblock %}