{% load static %}
<div  class="row" >
    <div class="col-3 text-center">
        <br><br>
        <h4>Presented by </h4>
        <p>Wannada Mekjinda</p>
        <p>Chaianan Simachai </p>
        <p>Teerapong Putong</p>
    </div>
    <div class="col-4 text-center">
        <br><br>
        <h4>Contract</h4>
        <p>wannada.me@rmuti.ac.th  <a href="https://mail.google.com/mail/"><i class="fas fa-envelope text-white"></i></a></p>
        <p>chaianan.si@rmuti.ac.th <a href="https://mail.google.com/mail/"><i class="fas fa-envelope text-white"></i></a></p>
        <p>teerapong.pu@rmuti.ac.th <a href="https://mail.google.com/mail/"><i class="fas fa-envelope text-white"></i></a></p>
        <p></p>
    </div>
    <div class="col-5 text-center   ">
        <br><br>
        <img src="../static/images/LOGO.png" width="150" height="90">
        <p class="text-center">TMS EXPRESS</p>
        <p class="text-center">ระบบขนส่งสินค้า</p>
    </div>
</div>