{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">

        <div class="col col-12 rounded-3" style="background-color: #ffffff;">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">ปีที่ 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ปีที่ 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">รายวิชายกเว้น</a>
                </li>
            </ul>
        </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ประเภท</th>
            <th scope="col">รหัส - ชื่อรายวิชา</th>
            <th scope="col">เกรด</th>
            <th scope="col">หน่วยกิต</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
