{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">
        <div class="col col-12 text-primary"><h3>รายวิชาที่ลงทะเบียน</h3></div>
        <div class="col-6">
            <h6>
                ระดับการศึกษา : <br>
                รหัสนักศึกษา :  <br>
                ชื่อนักศึกษา : <br>
                สถานะภาพ : <br>
                อาจารย์ที่ปรึกษา : <br>
                </b>
            </h6>
        </div>
        <div class="col-6">
            <h6>
                คณะ :  <br>
                โปรแกรมวิชา : <br>
                สาขาวิชา : <br>
                ประเภทเวลาเรียน : <br>
                อาจารย์ที่ปรึกษา : <br>
                </b>
            </h6>
        </div>
    </div>

</div>
{% endblock %}