{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row">

        <div class="col col-12 rounded-3" style="background-color: #ffffff;">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">ปีที่ 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ปีที่ 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">รายวิชายกเว้น</a>
                </li>
            </ul>
        </div>
    <table border="1">
        <tr>
            <th>ประเภท</th>
            <th>ชื่อ - รหัสวิชา</th>
            <th>เกรด</th>
            <th colspan="3">หน่วยกิต</th>

        </tr>
        <tr>
            <td>Doesystem</td>
            <td>088 88 888</td>
            <td>088 88 889</td>
            <td>088 88 890</td>
            <td>088 88 890</td>
            <td>088 88 890</td>
        </tr>
    </table>
</div>
{% endblock %}
